<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="product.css" />

    <title>Add Product Page</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/">Shop</a>
          </li>
          <li class="main-header__item">
            <a href="/addProduct">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/addProduct" method="POST" class="product-form">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>

        <button type="submit" class="">Add</button>
      </form>
    </main>
  </body>
</html>
